## Data Visualisation: Player table

Notebook for fast visualisation of what columns are available in the `Player` table of the dataset.

In [11]:
import pandas as pd
import numpy as np
from rich import print, pretty
pretty.install()

In [2]:
df_player = pd.read_csv("../data/interim/player.csv")

***

In [3]:
print(list(df_player.columns))

['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday', 'height', 'weight']

In [16]:
# Check if column id is a counter for the rows

print("Is the 'id' a row counter:", np.sum(df_player["id"].diff() != 1) == 0)
print("Is the 'id' column unique:", df_player["id"].is_unique)

Is the 'id' a row counter: False

Is the 'id' column unique: True

In [19]:
df_player.iloc[np.where(df_player["id"].diff() != 1)[0]]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
438,440,163838,Alex,198033,1991-08-27 00:00:00,175.26,148
439,442,26564,Alex,136130,1982-06-17 00:00:00,187.96,203
2843,2847,363364,Ederson Moraes,210257,1993-08-17 00:00:00,187.96,183
4633,4638,30949,Jan Polak,167413,1981-03-14 00:00:00,180.34,176
4956,4962,40792,Jo,140384,1987-03-20 00:00:00,187.96,172
5118,5125,30839,Johnny Heitinga,49425,1983-11-15 00:00:00,180.34,170
6296,6304,502812,Lucas,227708,1990-11-05 00:00:00,193.04,198
6420,6429,191132,Luke Garbutt,192319,1993-05-21 00:00:00,177.80,161
6470,6480,409816,Mahamadou-Naby Sarr,212420,1993-08-13 00:00:00,195.58,207
6932,6943,267365,Marquinhos,207865,1994-05-14 00:00:00,182.88,165
7758,7770,242477,Nacho Cases,202142,1987-12-22 00:00:00,175.26,146
8301,8314,214340,Parfait Mandanda,190792,1989-10-10 00:00:00,182.88,172
8478,8492,11746,Pedro Alves,1221,1979-02-08 00:00:00,187.96,176
9576,9591,128689,Sebastian Mielitz,193312,1989-07-18 00:00:00,187.96,187
9696,9712,39805,Sergiu Marian Radu,53919,1977-08-10 00:00:00,182.88,150

We have 7 columns in the dataset.

* `id`: numeric unique index, not identical to row counter
* `player_api_id`: player id for some unknown api 
* `player_name`: string with players names. sometimes its their full name, sometimes how they're known on the pitch
* `player_fifa_api_id`: unique id for the EA FIFA game franchise API for the year of 2016
* `birthday`: date of birth, in Y-m-d H:M:S. the hours, minutes and seconds are all set to 00:00:00
* `height`: player height in centimeters (cm)
* `weight`: player weight in pounds (lb)

In [7]:
df_player.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [8]:
df_player.describe()

,id,player_api_id,player_fifa_api_id,height,weight
count,11060.000000,11060.000000,11060.000000,11060.000000,11060.000000
mean,5537.511392,156582.427215,165664.910488,181.867445,168.380289
std,3197.692647,160713.700624,58649.928360,6.369201,14.990217
min,1.000000,2625.000000,2.000000,157.480000,117.000000
25%,2767.750000,35555.500000,151889.500000,177.800000,159.000000
50%,5536.500000,96619.500000,184671.000000,182.880000,168.000000
75%,8306.250000,212470.500000,203883.250000,185.420000,179.000000
max,11075.000000,750584.000000,234141.000000,208.280000,243.000000